astropy>=4.3.1
astroquery
git+https://github.com/jgieseler/soho-loader
git+https://github.com/jgieseler/stereo-loader
ipympl
ipywidgets
jupyter
matplotlib>=3.4.3
numpy>=1.20.3
pandas>=1.3.4
solo_epd_loader>=0.1.10
sunpy>=4.0